<?xml version="1.0" encoding="UTF-8"?>
<!-- log4j2 配置 -->
<configuration status="WARN">
    <properties>
        <property name="defaultLogSize">30 MB</property>
    </properties>
    <appenders>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss}] %p [%t] [%c] [%m]%n"/>
        </Console>
        <RollingFile name="File" fileName="/usr/logs/spider/all.log" filePattern="/usr/logs/spider/all-%d{yyyyMMdd}-%i.log"
            bufferedIO="false" immediateFlush="true">
            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss}] %p [%t] [%c] [%m]%n" />
            <SizeBasedTriggeringPolicy size="${defaultLogSize}" />
        </RollingFile>
        <RollingFile name="Error" fileName="/usr/logs/spider/error.log" filePattern="/usr/logs/spider/error-%d{yyyyMMdd}-%i.log"
            immediateFlush="true">
            <ThresholdFilter level="error" onMatch="ACCEPT" onMismatch="DENY" />
            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss}] %p [%t] [%c] [%x] [%l] [%m]%n" />
            <SizeBasedTriggeringPolicy size="${defaultLogSize}" />
        </RollingFile>
    </appenders>
    <loggers>
    	<!-- Root Logger -->
	    <root level="DEBUG" additivity="false">
	     	<appender-ref ref="STDOUT"/>
	        <appender-ref ref="File" />
	        <appender-ref ref="Error" level="error"/>
	    </root>
	    <!-- springjdbc Logger -->
	    <logger name="org.springframework.jdbc.support" level="DEBUG" additivity="false">
	     	<appender-ref ref="STDOUT"/>
	        <appender-ref ref="File" />
	        <appender-ref ref="Error" level="error"/>
	    </logger>
    </loggers>
</configuration>