<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">  
<display-name>YoYoShop</display-name>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath*:ApplicationContext*.xml</param-value>
  </context-param>
  

  
  <filter>
    <filter-name>SpringCharacterEncodingFilter</filter-name>
    <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>SpringCharacterEncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  
  
<!-- —检查用户是否登录了系统的过滤器配置  开始 -->
	<filter>
	 	<filter-name>authFilter</filter-name>
	 	<filter-class>com.cnit.yoyo.system.filter.AuthFilter</filter-class>
	 	<init-param>
	     	<param-name>redirectUrl</param-name>
	     	<param-value>/sign1/loginOut1</param-value>
	 	</init-param>
	 	<init-param>
			<param-name>exceptions</param-name>
			<param-value>/sign1/doLogin1,/sign1/loginOut1</param-value>
		</init-param>
	</filter>
	<filter-mapping>
 		<filter-name>authFilter</filter-name>
 		<url-pattern>/*</url-pattern>
	</filter-mapping>
    <!-- shiro 安全过滤器 -->
    <filter>
        <filter-name>shiroFilterShop</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
        <async-supported>true</async-supported>
        <init-param>
            <param-name>targetFilterLifecycle</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>shiroFilterShop</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
  
  <servlet>
    <servlet-name>VerifyImageServlet</servlet-name>
    <servlet-class>com.cnit.yoyo.servlet.VerifyImageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VerifyImageServlet</servlet-name>
    <url-pattern>/verifyImage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SpringMVC</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath:springmvc-servlet.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>SpringMVC</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>sitemesh</filter-name>
    <filter-class>org.sitemesh.config.ConfigurableSiteMeshFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>sitemesh</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <!-- <servlet>
    <description></description>
    <display-name>VerifySmsServlet</display-name>
    <servlet-name>VerifySmsServlet</servlet-name>
    <servlet-class>com.cnit.yoyo.servlet.VerifySmsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VerifySmsServlet</servlet-name>
    <url-pattern>/VerifySmsServlet</url-pattern>
  </servlet-mapping> -->
   <filter>
	    <filter-name>wordValidator</filter-name>
	    <filter-class>com.cnit.yoyo.filter.WordValidator</filter-class>
	</filter>
	<filter-mapping>
	    <filter-name>wordValidator</filter-name>
	    <url-pattern>/*</url-pattern>
	</filter-mapping>
	<!-- 监控 start -->
	<filter>
		<filter-name>monitoring</filter-name>
		<filter-class>net.bull.javamelody.MonitoringFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>monitoring</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<listener>
		<listener-class>net.bull.javamelody.SessionListener</listener-class>
	</listener>
	<!-- 监控 end -->
</web-app>