<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
	<!-- 从代码中获得Spring上下文的工具类 -->
	<bean id="applicationContextUtil" class="com.cnit.yoyo.util.ApplicationContextUtil" />
	<!-- 服务码与服务类的映射关系工具类 -->
	<bean id="serviceMapHolder" class="com.cnit.yoyo.util.ServiceMapHolder">
		<property name="configLocation" value="classpath:serviceMap.properties" />
	</bean>
</beans>