@charset "utf-8";
/* CSS Document */
.par_main{ width: 1200px; height: 458px; margin: 0 auto; padding-top: 30px; }
.par_main p{ font-size: 18px;padding-left: 40px; }
.par_main_in{ width: 933px; height:392px; padding: 42px 0 0 267px; display: none; }
.par_bg{ width: 933px; height: 44px; }
.par_bg span{ display: block; width: 933px; height: 24px; background: url(../images/login/password_bg.png) no-repeat; }
.par_bg ul li{ float: left; width: 160px; text-align: center;font-size: 14px; line-height: 24px; color: #ccc; }

.par_current{ color: #7abd54 !important; }
.par_con{ margin-top: 40px; position: relative; padding-left: 130px; overflow: hidden; }
.par_con .par_con_t{ font-size: 14px; height: 38px; line-height: 38px; display: inline-block; _margin-bottom: 10px; }
.par_con .user{ margin-top: 20px !important; display: inline-block; _display: inline; height: 38px; line-height: 38px; }
.par_con .user input{ _height: 38px; _line-height: 38px; }
.par_con .user select{ width: 304px; height: 38px; line-height: 38px; border: 0; }
.par_code{ margin-top: 30px; width: 362px; _margin-top: 30px; _margin-left: 2px; }
.par_con .code{ margin-top: 0px !important; height:38px; line-height: 38px; }
.par_con .sub{ margin-top: 30px !important; margin-left: 56px; }
.par_con .sub2{ margin-top: 20px !important; margin-left: 56px;color:#666;background-color: #f7f7f9;border: 1px solid #bbb }

.par_con .codew{ margin-top: 0px !important; display: inline-block; }
.par_con .codew input{ height: 38px; line-height: 38px; }
.par_finished span{font-size: medium;font-weight: bold;}
.show{ display: block !important; }
.show_par1 span{ background-position: 0px -26px; }
.show_par2 span{ background-position: 0px -53px; }
.show_par3 span{ background-position: 0px -80px; }



.box{ display: none; }
.user_show{ display: block; }
.par_con i{ font-style: normal; position: absolute; top: 60px; left: 193px; font-size: 12px; color: red; }