@CHARSET "UTF-8";
.topbar {
	position: relative;
	z-index: 10000;
	_zoom: 1
}
.topbar-helper {
	z-index: 999
}
.topbar-icon,.navcar li a,.navcar li .icon-newcar,.citypop .citypop-content .citypop-close i,.citypop-search,.citypop-ct .zdicon,.citypop-ct .ntextdicon
	{
	background: url(../images/carParams/topbar-bg_20140915.png) no-repeat
}
.moreli-title-notice,.moreli-title-app {
	background:
		url(../images/carParams/eHBhY2tldCBlbmQ9InIiPz5hF5cPAAAABlBMVEXS0tIAAACFVnAAAAADklEQVR42mJgwA4AAgwAABgAAWQOeGIAAAAASUVORK5CYII=)
		no-repeat;
	_background: url(../images/carParams/split_bg.png) no-repeat
}

.citypop,.topbar .dropdown {
	background: url(../images/carParams/ZYAAAAASUVORK5CYII=) repeat;
	_background: url(../images/carParams/shadow_bg.png) repeat
}

.topbar-icon {
	display: inline-block;
	overflow: hidden
}

.topbar-icon16 {
	width: 16px;
	height: 16px
}

.topbar-icon12 {
	width: 12px;
	height: 12px
}

.topbar-icon10 {
	width: 10px;
	height: 10px
}

.topbar-icon10-sjb {
	background-position: 0 -205px
}

.topbar-icon12-array1 {
	background-position: -40px -165px
}

.topbar-icon16-club {
	background-position: -20px -165px
}

.topbar-icon16-building {
	background-position: -60px -405px
}

.minitop {
	background-color: #333;
	color: #999
}

.mini-main {
	margin: 0 auto;
	width: 990px;
	height: 30px;
	line-height: 30px
}

.mini-main a:hover {
	text-decoration: underline
}

.mini-main a.orangelink:link,.mini-main a.orangelink:visited {
	color: #f60
}

.mini-main a.orangelink:hover {
	color: #f60
}

.mini-main a.greylink:link,.mini-main a.greylink:visited {
	color: #999
}

.mini-main a.greylink:hover {
	color: #f60
}

.mini-main a.whitelink:link,.mini-main a.whitelink:visited {
	color: #fff
}

.mini-main a.whitelink:hover {
	color: #f60
}

.mini-main li.vlli {
	padding: 0 5px
}

.mini-left {
	float: left;
	padding-left: 190px
}

.mini-left li {
	float: left;
	position: relative
}

.mini-left .topbar-icon16-building {
	float: left;
	margin: 7px 5px 0 0
}

.mini-right {
	float: right
}

.mini-right li {
	float: left;
	position: relative
}

.mini-right li.frs-login {
	padding-right: 14px
}

.mini-right li.frs-zhaopin {
	padding: 0 14px
}

.moreli-title {
	float: left;
	height: 30px;
	*vertical-align: middle
}

.moreli-title a {
	display: block;
	_display: inline-block;
	height: 30px;
	padding: 0 14px;
	cursor: pointer
}

.moreli-title a:link,.moreli-title a:visited,.moreli-title a:hover {
	color: #999
}

.moreli-title a:hover {
	text-decoration: none
}

.moreli-title i,.moreli-title span {
	float: left;
	cursor: pointer
}

.moreli-title .topbar-icon10-sjb {
	position: relative;
	margin-left: 5px;
	top: 10px
}

.moreli-title .topbar-icon16 {
	margin: 8px 5px 0 0
}

.moreli-title .topbar-icon12 {
	margin: 10px 7px 0 0
}

.moreli-title-notice {
	background-position: left center
}

.moreli-title-notice span.info {
	display: inline-block;
	height: 12px;
	padding: 2px 3px;
	text-align: center;
	line-height: 12px;
	background-color: #f60;
	border-radius: 2px;
	color: #fff;
	margin: 7px 1px 0 5px;
	font-weight: 700
}

.moreli-title-club a {
	background-color: #f60
}

.moreli-title-club span {
	color: #fff
}

.moreli-title-club .topbar-icon10-sjb {
	background-position: -20px -205px
}

.moreli-title-app {
	background-position: right center
}

.moreli-active {
	z-index: 800
}

.moreli-active .moreli-title a {
	background-color: #f9f9f9
}

.moreli-active .moreli-title span {
	color: #f60
}

.moreli-active .moreli-title-notice span.info {
	color: #fff
}

.moreli-active .moreli-title .topbar-icon12-array1 {
	background-position: -60px -165px
}

.moreli-active .moreli-title .topbar-icon16-club {
	background-position: 0 -165px
}

.moreli-active .moreli-title .topbar-icon10-sjb {
	background-position: -60px -205px
}

.citi-title a {
	padding: 0 0 0 6px
}

.citi-title .topbar-icon10-sjb {
	margin-left: 2px
}

.citi-title a:hover .topbar-icon10-sjb {
	background-position: -60px -205px
}

.citi-active {
	z-index: 800
}

.find-club {
	padding: 0 14px
}

.find-club a {
	display: inline-block;
	height: 20px;
	line-height: 20px;
	padding: 0 20px;
	background-color: #f60;
	color: #fff;
	border-radius: 2px;
	vertical-align: top;
	margin-top: 5px;
	*margin-top: 0;
	_margin-top: 5px
}

.find-club a:hover {
	color: #fff;
	text-decoration: none
}

.topchadiv {
	position: absolute;
	right: -2px;
	top: 31px;
	z-index: 10;
	display: none;
	*background-image: url(../images/carParams/-1blank)
}

.topchadiv-dw02,.topchadiv-dw03 {
	_right: -3px
}

.topchadiv-box {
	padding: 0 2px 2px 0;
	clear: both;
	position: relative;
	top: -1px
}

.topchadiv-dw01 .topchadiv-box {
	width: 110px
}

.topchadiv-dw02 .topchadiv-box {
	min-width: 130px;
	overflow: visible;
	_width: 130px
}

.topchadiv-dw03 .topchadiv-box {
	width: 210px
}

.topchadiv-con {
	border: solid 1px #ccd3e4;
	background-color: #fff;
	line-height: 20px;
	text-align: left;
	padding: 5px 0
}

.topchadiv-con a {
	display: block;
	height: 27px;
	line-height: 27px;
	white-space: nowrap;
	padding: 0 15px;
	overflow: hidden
}

.topchadiv-con a:link,.topchadiv-con a:visited,.topchadiv-con a:hover {
	color: #666;
	text-decoration: none
}

.topchadiv-con a span {
	display: inline-block
}

.topchadiv-con a span.cn {
	color: #666;
	float: left
}

.topchadiv-con a span.ck {
	cursor: pointer;
	float: right
}

.topchadiv-con a:hover {
	color: #3b5998;
	background-color: #f9f9f9
}

.topchadiv-con .linedc {
	border-top: dotted 1px #cecece;
	height: 1px;
	clear: both;
	font-size: 0;
	margin: 5px;
	line-height: 0
}

.topchadiv-dw02 .topchadiv-con a {
	min-width: 120px;
	overflow: visible
}

.topchadiv-dw03 .topchadiv-con a {
	padding: 0 10px
}

.topchadiv-dw03 .topchadiv-con a:link,.topchadiv-dw03 .topchadiv-con a:visited,.topchadiv-dw03 .topchadiv-con a:hover
	{
	color: #3b5998
}



.pop_forum .ico_close,.pop_forum .pf_search,.pop_forum .ico_del,.pop_forum .pf_search,.pop_forum .pf_search_fous,.pop_forum .pf_search .glass
	{
	background: url(../images/carParams/pub_pop_bg.png) no-repeat
}

.pop_forum div,.pop_forum dl,.pop_forum dt,.pop_forum dd,.pop_forum ul,.pop_forum ol,.pop_forum li,.pop_forum h1,.pop_forum h2,.pop_forum h3,.pop_forum h4,.pop_forum h5,.pop_forum h6,.pop_forum pre,.pop_forum form,.pop_forum fieldset,.pop_forum input,.pop_forum textarea,.pop_forum blockquote
	{
	margin: 0;
	padding: 0
}

.pop_forum ol,.pop_login ul {
	list-style: none
}

.pop_forum li {
	list-style-type: none
}

.pop_forum img {
	vertical-align: top;
	border: 0
}

.pop_forum h1,.pop_forum h2,.pop_forum h3,.pop_forum h4,.pop_forum h5,.pop_forum h6
	{
	font-size: 12px
}

.pop_forum table,.pop_forum td,.pop_forum tr,.pop_forum th {
	font-size: 12px
}

.pop_forum table {
	margin: 0 auto
}

.pop_forum {
	width: 744px;
	height: 420px;
	background: #fff;
	border-top: solid #005ab0 1px;
	font-family: \5B8B\4F53, Arial Narrow, arial, serif;
	font-size: 12px;
	line-height: normal
}

.pop_forum a:link,.pop_forum a:visited {
	color: #3b5998;
	text-decoration: none
}

.pop_forum a:hover {
	text-decoration: underline
}

.pop_forum .pf_inner {
	border: solid #3b5998 6px
}

.pop_forum .pf_tt {
	position: relative;
	height: 37px;
	background: #f2f5f8;
	border-bottom: solid #ccd3e4 1px
}

.pop_forum .pf_tt .ico_close {
	position: absolute;
	top: 6px;
	right: 4px;
	width: 30px;
	height: 28px;
	text-indent: -999px;
	overflow: hidden;
	background-position: 0 -31px
}

.pop_forum .pf_tab {
	position: absolute;
	top: 12px;
	left: 17px;
	font-size: 12px
}

.pop_forum .pf_tab a:link,.pop_forum .pf_tab a:visited {
	display: block;
	float: left;
	width: 83px;
	height: 18px;
	padding: 6px 0 0;
	margin: 0 8px 0 0;
	background: #fff;
	border: solid #ccd3e4;
	border-width: 1px 1px 0;
	font-weight: 400;
	color: #3e3e3e;
	text-align: center
}

.pop_forum .pf_tab a:hover {
	text-decoration: none
}

.pop_forum .pf_tab a.cur:link,.pop_forum .pf_tab a.cur:visited {
	height: 19px;
	padding: 5px 0 0;
	font-weight: 700;
	color: #3b5998;
	border: solid;
	border-color: #fc7400 #adc9df;
	border-width: 2px 1px 0
}

.pop_forum .pf_bradet_tt h3 {
	padding-left: 18px;
	font-size: 12px;
	color: #3b5998;
	line-height: 37px
}

.pop_forum .pf_cont {
	height: 370px;
	overflow: auto;
	position: relative
}

.pop_forum .pf_search,.pop_forum .pf_search_fous {
	position: relative;
	width: 394px;
	height: 28px;
	margin: 21px auto 36px;
	border: solid #afc5e0 1px;
	background-position: 0 -87px
}

.pop_forum .pf_search_fous {
	border: 1px solid #7692cd;
	width: 394px
}

.pop_forum .pf_search .glass {
	width: 16px;
	height: 16px;
	display: inline-block;
	background-position: -83px 0;
	position: absolute;
	margin: 7px 0 0 11px
}

.pop_forum .pf_search_fous .glasss {
	display: none
}

.pop_forum .pf_search .s_tx,.pop_forum .pf_search_fous .s_tx {
	width: 275px;
	height: 20px;
	padding: 0 7px 0 33px;
	margin: 5px 0 0;
	background: none repeat scroll 0 0 #fff;
	border: 0;
	outline: 0;
	box-shadow: none;
	font-size: 12px;
	color: #999;
	line-height: 20px
}

.pop_forum .pf_search_fous .s_tx {
	width: 301px;
	padding: 0 7px;
	color: #000
}

.pop_forum .pf_search .s_btn,.pop_forum .pf_search_fous .s_btn {
	background-color: #3b5998;
	position: absolute;
	right: -1px;
	top: -1px;
	width: 80px;
	height: 30px;
	line-height: 30px;
	padding: 0;
	text-shadow: none;
	overflow: hidden;
	font-weight: 700;
	text-align: center;
	z-index: 1
}

.pop_forum .pf_search .s_btn:link,.pop_forum .pf_search .s_btn:visited,.pop_forum .pf_search_fous .s_btn:link,.pop_forum .pf_search_fous .s_btn:visited
	{
	color: #fff;
	text-decoration: none
}

.pop_forum .pf_search .s_btn:hover,.pop_forum .pf_search_fous .s_btn:hover
	{
	padding: 0
}

.pop_forum .pf_search_fous .keywordsbox {
	z-index: 1000;
	position: absolute;
	top: 28px;
	left: -1px;
	background-color: #fff;
	font-size: 12px;
	line-height: 22px
}

.pop_forum .pf_search_fous .keywordsbox ul {
	width: 315px;
	padding: 0;
	border: solid #7692cd 1px;
	line-height: 22px;
	overflow: hidden
}

.pop_forum .pf_search_fous .keywordsbox ul li {
	width: 100%;
	height: 22px;
	padding: 0;
	line-height: 22px;
	overflow: hidden
}

.pop_forum .pf_search_fous .keywordsbox ul li a:link,.pop_forum .pf_search_fous .keywordsbox ul li a:visited
	{
	display: block;
	float: none;
	padding: 0 8px;
	height: 22px;
	line-height: 22px;
	color: #000;
	text-decoration: none;
	text-shadow: none;
	overflow: hidden
}

.pop_forum .pf_search_fous .keywordsbox ul li a:hover {
	background-color: #f0f9fe;
	border: 0;
	color: #000
}

.pop_forum .pf_list {
	padding: 0 0 0 20px
}

.pop_forum .pf_list h3 {
	margin: 28px 0 0;
	font-weight: 700;
	color: #3e3a39
}

.pop_forum .pf_default h3 {
	margin: 20px 0 0;
	text-align: left;
	font-size: 12px;
	font-weight: 700
}

.pop_forum .pf_default h3 span {
	display: inline-block;
	height: 20px;
	line-height: 20px;
	padding: 0 5px;
	color: #fff;
	font-weight: 700;
	background: #fc7400
}

.pop_forum .pf_list ul {
	width: 690px;
	padding: 12px 0 8px 2px;
	overflow: hidden
}

.pop_forum .pf_list li {
	float: left;
	width: 132px;
	padding: 0 6px 12px 0
}

.pop_forum .pf_list li a:link,.pop_forum .pf_list li a:visited {
	float: left;
	display: block;
	height: 14px;
	overflow: hidden
}

.pop_forum .pf_collect li a:link,.pop_forum .pf_collect li a:visited {
	
}

.pop_forum .pf_collect .ico_del {
	display: block;
	float: left;
	width: 11px;
	height: 11px;
	margin: 0 0 0 1px;
	overflow: hidden;
	cursor: pointer;
	background-position: -30px -31px
}

.pop_forum .pf_brand {
	padding: 0 0 0 20px
}

.pop_forum .pf_brand h3 {
	height: 25px;
	margin: 19px 0 0;
	overflow: hidden;
	font-size: 12px
}

.pop_forum .pf_brand h3 a:link,.pop_forum .pf_brand h3 a:visited {
	display: block;
	float: left;
	width: 86px;
	height: 23px;
	margin-right: 7px;
	background: #e4e9f1;
	border: solid #ccd3e4 1px;
	font-family: Arial;
	font-weight: 700;
	line-height: 24px;
	text-align: center;
	overflow: hidden;
	letter-spacing: 2px;
	_letter-spacing: -2px
}

.pop_forum .pf_brand h3 a:hover {
	text-decoration: none
}

.pop_forum .pf_brand h3 a.cur:link,.pop_forum .pf_brand h3 a.cur:visited
	{
	width: 88px;
	height: 25px;
	background: #526ca4;
	border: 0;
	color: #fff
}

.pop_forum .pf_brand h3 i {
	font-style: normal;
	_font-weight: 400
}

.pop_forum .pf_brand h4 {
	margin: 12px 0 0 4px;
	font-family: Arial;
	font-weight: 700;
	color: #e75e15
}

.pop_forum .pf_brand ul {
	width: 690px;
	padding: 8px 0 0 2px;
	overflow: hidden
}

.pop_forum .pf_brand li {
	float: left;
	width: 138px;
	padding: 0 0 8px;
	overflow: hidden
}

.pop_forum .pf_brand li a:link,.pop_forum .pf_brand li a:visited {
	float: left;
	display: block;
	height: 14px;
	overflow: hidden
}

.pop_forum .pf_hr,.pop_forum .pf_hr02 {
	display: block;
	width: 692px;
	height: 0;
	border-top: dotted #ccc 1px;
	overflow: hidden
}

.pop_forum .pf_hr02 {
	border-top: solid 1px #ccd3e4
}
/* CSS Document */
.mainWrap {
	width: 990px;
	margin: 0 auto 10px auto;
}

.pzbox {
	width: 990px;
	margin: 0 auto;
	_overflow: hidden;
	font-size: 12px;
	font-family: "宋体", Arial, Helvetica, sans-serif;
}

.tbcs th h3 b,em.ero,.ico_count,.switch_left,.switch_right,a.buycarico,a.btn_del,.folul li,.folul li a:hover,.folul li a.active,.folul li a.active:hover
	{
	background: url(../images/carParams/csicon.png) no-repeat;
}

.pzbox a:link,.pzbox a:visited {
	color: #3b5998;
	text-decoration: none;
}

.pzbox a:hover {
	color: #d60000;
}

.pzbox table {
	padding: 0px;
	border-collapse: collapse;
	border-spacing: 0;
}

.operation {
	background-color: #ffffff;
	height: 100px;
	overflow: visible;
	z-index: 1200;
	display: table;
}

.tbset {
	width: auto;
	height: 100px;
	border-top: solid 1px #d9e5f3;
	border-left: solid 1px #d9e5f3;
}

.tbset th,.tbset td {
	border-right: solid 1px #d9e5f3;
	border-bottom: solid 1px #d9e5f3;
	background-color: #f0f3f8;
	vertical-align: top;
}

.tbset th {
	background: #fff;
	font-weight: normal;
	text-align: left;
}

.tbset td:hover a.btn_del {
	background-position: -80px -193px;
}

.setbox {
	width: 185px;
	height: 88px;
	padding: 10px 0 0 15px;
	position: relative;
	z-index: 1200;
	background-color: #FFFFFF;
}

.setbox label {
	font-family: Tahoma, "Times New Roman";
	font-size: 12px;
	color: #3b5998;
	vertical-align: middle;
	cursor: pointer;
	display: block;
	clear: both;
	height: 20px;
	line-height: 19px;
}

.setbox label input {
	margin: 0px 5px 0 0;
	padding: 0px;
	vertical-align: middle;
}

/*.setbox p,.setbox .para-down{ margin:2px 0px 0px; padding:0px; font-family:"\5B8B\4F53"; color:#676767;}
  .setbox .para-down{position:relative;zoom:1;}
  .setbox .para-down .icon16-load{float:left;margin:1px 2px 0 0;background-position:-20px -560px;}
  .setbox .para-down .downtip{width:auto;left:123px;top:-8px;position:absolute;word-break:keep-all;white-space:nowrap;}
  .setbox .para-down .downtip .pop-content .pop-content-info{min-height:0;padding:5px;}
  .setbox .para-down .downtip .pop-right{top:10px;}*/
.para-down {
	margin: 2px 0px 0px;
	padding: 0 10px 0 0;
	font-family: "\5B8B\4F53";
	color: #676767;
	float: right;
}

.para-down {
	position: relative;
	zoom: 1;
}

.para-down .icon16-load {
	float: left;
	margin: 1px 2px 0 0;
	background-position: -20px -560px;
}

.para-down .downtip {
	width: auto;
	right: 122px;
	top: -8px;
	position: absolute;
	word-break: keep-all;
	white-space: nowrap;
}

.para-down .downtip .pop-content .pop-content-info {
	min-height: 0;
	padding: 5px;
}

.para-down .downtip .pop-left {
	top: 10px;
}

.font-cstitle {
	color: #666;
	font-weight: bold;
	padding-left: 5px
}

.selectTr_input {
	margin-top: 0;
	*margin-top: -2px;
	margin-right: 5px
}

.filtrate {
	padding: 0 10px
}

.filtrate li {
	border-bottom: 1px dotted #ccd3e4;
	overflow: hidden;
	zoom: 1
}

.filtrate li.last {
	border: 0
}

.filtrate-list {
	float: left;
	padding: 9px 0 9px 10px;
	line-height: 20px;
	margin-right: 10px
}

.filtrate-list .title {
	color: #666;
	font-weight: bold
}

.filtrate-list .lbTxt {
	line-height: 18px;
	padding-left: 2px;
	cursor: pointer;
	font-family: Tahoma, "Times New Roman";
	font-size: 12px;
	vertical-align: middle;
	margin-right: 10px
}

.carbox {
	width: 140px;
	padding: 0px 10px;
	text-align: center;
	line-height: 15px;
}

.fontf {
	font-family: "\5B8B\4F53";
}

a.buycarico {
	width: 15px;
	height: 16px;
	display: inline-block;
	background-position: 0px -172px;
	margin-left: 5px;
	position: relative;
	top: 3px;
	*position: inherit;
	*top: auto;
}

a.buycarico:hover {
	background-position: 0 -198px;
}

a.redab:link,a.redab:visited,a.redab:hover {
	color: #d60000;
	text-decoration: none;
	font-weight: bold;
}

.tbcs tr.highlight td {
	color: #F55E00;
}

.tbcs tr.highlight th a:link,.tbcs tr.highlight th a:visited,.tbcs tr.highlight th a:hover
	{
	color: #F55E00;
}

.tbset .carbox p {
	height: 15px;
	zoom: 1;
	position: relative;
	margin: 0px;
	padding: 0px;
}

.carbox div {
	height: 50px;
	font-size: 12px;
	font-weight: bold;
}

.sys_ow {
	color: #993000;
}

.btn_delbar {
	height: 16px;
	line-height: 16px;
	padding: 4px;
	text-align: center;
	position: relative;
}

a.btn_del {
	width: 16px;
	height: 16px;
	line-height: 16px;
	display: inline-block;
	background-position: -80px -172px;
	overflow: hidden;
	position: absolute;
	top: 4px;
	right: 4px;
}

a.btn_del:hover {
	background-position: -80px -193px;
}

.tbset .switch_left,.tbset .switch_right {
	position: absolute;
	top: 0;
	width: 40px;
	height: 15px;
	line-height: 150px;
	overflow: hidden;
	cursor: pointer;
}

.tbset .switch_left {
	left: 3px;
	text-align: left;
	background-position: -52px -128px;
}

.tbset .switch_right {
	right: 3px;
	text-align: right;
	background-position: -75px -148px;
}

.tbset .switch_left:hover {
	line-height: 15px;
	color: #666666;
	background-position: 28px -128px;
}

.tbset .switch_right:hover {
	line-height: 15px;
	color: #666666;
	background-position: 5px -148px;
}
/*.tbset td:hover .switch_left{ background-position:3px -128px;}
  .tbset td:hover .switch_right{ background-position:3px -148px;*/
.guide_p th,.guide_p td {
	height: 35px;
	line-height: 35px;
	color: #676767;
}

.guide_p th p {
	width: 180px;
	margin: 0px;
	padding: 0 10px;
	text-align: right;
}

.guide_p td p {
	width: 200px;
	margin: 0px;
	padding: 0px;
	line-height: normal;
	text-align: center;
}

.guide_p td .ico_count {
	display: inline-block;
	width: 12px;
	height: 14px;
	margin: 0px 0px 0px 3px;
	overflow: hidden;
	vertical-align: middle;
	background-position: 0px -212px;
}

.guide_p td:hover .ico_count {
	background-position: 0px -40px;
}

.dealer_p th,.dealer_p td {
	height: 35px;
	line-height: 35px;
	color: #676767;
}

.dealer_p th p {
	width: 180px;
	margin: 0px;
	padding: 0 10px;
	text-align: right;
}

.dealer_p td p {
	width: 200px;
	margin: 0px;
	padding: 0px;
	text-align: center;
}

.dealer_p td a:link,.dealer_p td a:visited {
	font-weight: bold;
	color: #d60000;
	text-decoration: none;
}

.dealer_p td a:hover {
	color: #d60000;
	text-decoration: underline;
}

.conbox {
	position: relative;
	z-index: 5;
}

.conbox table {
	margin: 0;
}

.tbcs {
	border-left: solid 1px #d9e5f3;
	border-bottom: solid 1px #d9e5f3;
	width: 100%;
	background-color: #ffffff;
}

.tbcs th {
	width: 200px;
	vertical-align: middle;
	font-weight: 100;
	text-align: right;
	height: 28px;
}

.tbcs th.twol {
	height: 45px;
}

.tbcs th h3 {
	font-size: 12px;
	padding-left: 15px;
	color: #993000;
	font-weight: bold;
	height: 35px;
	line-height: 35px;
	margin: 0px;
	text-align: left;
}

.tbcs th.cstitle {
	background-repeat: repeat-x;
	background-color: #f0f3f8;
}

.tbcs th,.tbcs td {
	border-bottom: solid 1px #d9e5f3;
	border-right: solid 1px #d9e5f3;
}

.tbcs td {
	vertical-align: middle;
}

.tbcs th div {
	width: 180px;
	padding: 0 10px;
	overflow: hidden;
	text-align: right;
}

.tbcs td div {
	width: 160px;
	text-align: center;
	vertical-align: middle;
}

.tbcs th h3 b {
	width: 9px;
	height: 9px;
	display: block;
	background-position: 0px -91px;
	float: left;
	margin: 13px 5px 0 0;
}

.tbcs th h3 b.setcon {
	background-position: 0px -110px;
}

em.ero {
	display: block;
	width: 15px;
	height: 15px;
	position: absolute;
	right: 0px;
	top: 0px;
	background-position: 0px -65px;
}

.fdbox {
	width: 202px;
	position: absolute;
	z-index: 1000;
	left: 0px;
	top: 0px;
	background-color: #ffffff;
}

.tbcs th div.carcolor {
	height: 80px;
	padding-top: 8px;
}

.colorul {
	padding: 3px 0 0 13px;
	_padding-left: 10px;
	margin: 0px;
	display: block;
	height: 82px;
}

.colorul li {
	width: 16px;
	height: 16px;
	line-height: 16px;
	font-size: 1px;
	padding: 5px 3px;
	float: left;
	list-style: none;
}

.colorul li a {
	border: solid 1px #D60000;
}

.colorul li span {
	border: solid 1px #cecece;
}

.colorul li a,.colorul li span {
	display: block;
	width: 15px;
	height: 15px;
	float: left;
}

a:link {
	color: #3b5998;
	text-decoration: none;
}

a:visited {
	color: #3b5998;
	text-decoration: none;
}

a:hover {
	color: #d60000;
	text-decoration: none;
}

a:active {
	color: #3b5998;
	text-decoration: none;
}

a.cd60000 {
	color: #D60000;
}

.m_t8 {
	margin-top: 8px;
}

.m_r8 {
	margin-right: 8px
}

.fc2 {
	color: #3b5998
}

.txtCen {
	text-align: center
}

.t1 {
	border: 1px solid #9ec9ec;
	border-collapse: collapse
}

.t1 th,.t1 td {
	border: 1px solid #d9e5f3;
	padding: 5px
}

.t1 th {
	background-color: #f3f6fb
}

input {
	vertical-align: middle;
}

.lbTxt {
	line-height: 18px;
	padding-left: 2px;
	cursor: pointer;
	font-family: Tahoma, "Times New Roman";
	font-size: 12px;
	vertical-align: middle;
}

a.cd60000 {
	color: #D60000;
}

.selectTr_input {
	margin-right: 5px;
	margin-top: -2px;
}
/*导航年代款的修改2012.11.29*/
/*车系导航和报价增加*/
.ma_l25 {
	margin-left: 25px;
}

.ic_arr1,.ic_arr2,.all_color,.news_dl dt,.stop,.ic_cal,.btn_db,.btn_dbgy,.expan,.away,.ic_right,.allact_bar span,.allact_bar a,.othcar_dl dt,.ic_score,.ic_score span,.ic_cnew,.ic_cun
	{
	background: url(../images/carParams/cars_bg_28.png) no-repeat;
}

.fr {
	float: right;
}

.fontw {
	font-weight: bold;
}

.grey65 {
	color: #656565;
}

.fontbred {
	font-weight: bold;
	color: #d60000;
}

.ma_15 {
	margin: 0 15px;
}

.path {
	height: 24px;
	line-height: 24px;
	margin: 10px 0;
}

.path .l {
	padding: 0 5px 0 4px;
}

/*站内导航*/
.subnav {
	margin-bottom: 10px;
}

.subnav-title {
	height: 49px;
	border: 1px solid #ccd3e4;
	border-bottom: 0;
}

.subnav-title .subnav-title-name {
	padding: 0 20px 0 15px;
	float: left;
	font: bold 20px/49px \5FAE\8F6F\96C5\9ED1;
	position: relative;
}

.subnav-title .subnav-title-name a {
	float: left;
}

.subnav-title .subnav-title-name a:link,.subnav-title .subnav-title-name a:visited,.subnav-title .subnav-title-name a:hover
	{
	color: #000000;
	text-decoration: none;
}

.subnav-title .subnav-title-name h1 {
	display: inline;
	font: bold 20px/49px \5FAE\8F6F\96C5\9ED1;
}

.subnav-title .subnav-title-name .tip {
	width: 180px;
	position: relative;
	top: 8px;
	margin-left: 10px;
	word-break: keep-all;
	white-space: nowrap;
}

.subnav-title-return {
	height: 29px;
	overflow: hidden;
	margin: 10px 0;
	padding-right: 15px;
	float: left;
	border-right: 1px solid #ccd3e4;
	font: bold 16px/28px \5FAE\8F6F\96C5\9ED1;
	*line-height: 30px;
	line-height: 30px\0;
	line-height: 28px\9\0;
}

.subnav-title-return a {
	display: inline-block;
}

.subnav-title-return .icon16-left,.subnav-title-return .icon16-left:hover
	{
	display: inline-block;
	width: 16px;
	height: 16px;
	float: left;
	margin: 6px 7px 0 6px;
	cursor: pointer;
	background-position: 0 -220px;
}

.nav-typebar {
	height: 30px;
	background-color: #3b5998;
}

.nav-typebar ul {
	height: 30px;
	float: left;
	_float: none;
	display: inline-block;
	margin-left: 10px;
	border-left: 1px solid #29447e;
	border-right: 1px solid #5577bb;
}

.nav-typebar ul li {
	float: left;
	text-align: center;
	border-left: 1px solid #5577bb;
	border-right: 1px solid #29447e;
	color: #999;
}

.nav-typebar ul li a,.nav-typebar ul li span {
	display: block;
	width: 94px;
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	font-weight: bold;
}

.nav-typebar ul li a:link,.nav-typebar ul li a:visited {
	color: #FFFFFF;
}

.nav-typebar ul li a:hover {
	color: #FFFFFF;
	text-decoration: none;
	background-color: #5577bb;
}

.nav-typebar ul li.current a {
	height: 28px;
	line-height: 28px;
	border-top: 2px solid #ff6600;
}

.nav-typebar ul li.current a:link,.nav-typebar ul li.current a:visited,.nav-typebar ul li.current a:hover
	{
	color: #333333;
	background-color: #FFFFFF;
}

.nav-typebar-g11 ul li a,.nav-typebar-g11 ul li span {
	width: 85px;
}

.nav-typebar-g12 ul li a,.nav-typebar-g12 ul li span {
	width: 78px;
}
/*全部年份浮层*/
.dropdown {
	padding: 2px;
	background: url(../images/carParams/shadow_bg01.png) repeat;
	width: 90px;
	font-size: 12px;
}

.dropdown .dropdown-content {
	border: solid 1px #ccd3e4;
	background-color: #fff;
	padding: 5px 0;
}

.dropdown .dropdown-content ul li {
	height: 27px;
	line-height: 27px;
}

.dropdown .dropdown-content ul li a {
	display: block;
	height: 27px;
	padding: 0 12px;
	text-decoration: none;
	color: #333333;
}

.dropdown .dropdown-content ul li a:hover {
	background-color: #f2f5f8;
	color: #3b5998
}

.dropdown .dropdown-content ul li.dropdown-content-line {
	height: 8px;
	line-height: 8px;
	font-size: 0;
	overflow: hidden;
}

.other-car {
	line-height: 18px;
	float: left;
	padding-top: 15px;
	color: #9f9f9f;
	position: relative;
	z-index: 80;
}

.subnav-title-rank {
	line-height: 18px;
	float: right;
	padding: 15px 10px 0 0;
	color: #9f9f9f;
}

.subnav-title-rank .red {
	font-size: 14px;
	font-weight: bold;
}

.other-car-year {
	width: 90px;
	text-align: center;
	display: inline-block;
	float: left;
	position: relative;
	_margin-right: -3px;
	cursor: pointer;
	z-index: 80;
}

.other-car-year .dropdown {
	width: 90px;
	text-align: left;
	position: absolute;
	left: 0;
	top: 18px;
}

.other-car-year .dropdown .dropdown-content ul li a {
	padding: 0 10px;
	cursor: pointer;
}

.other-car-year .dropdown .dropdown-content ul li a .year-text {
	float: left;
}

.other-car-year .dropdown .dropdown-content ul li a i {
	position: absolute;
	margin: 7px 0 0 2px;
}

.link-sale {
	margin-left: 25px;
}

.all-sell {
	display: inline-block;
	font-weight: bold;
	position: relative;
	z-index: 40;
}

a.all-sell:link,a.all-sell:visited,a.all-sell:hover {
	color: #3b5998;
}

.other-car-year .icon10 {
	position: relative;
	z-index: 10;
}

.other-car-year .icon10-down1 {
	margin-left: 5px;
	*position: relative;
	*top: -4px;
	background-position: -180px -60px;
}

.other-car-year .icon10-top {
	margin-left: 5px;
	*position: relative;
	*top: -4px;
	background-position: -180px -40px;
}

/*海外车系提示*/
.oth_car {
	position: relative;
	z-index: 10;
}

.ovsea_tips {
	width: 390px;
	height: 30px;
	position: absolute;
	top: 5px;
	right: -400px;
}

.ovsea_tips .seaj1,.ovsea_tips .seaj2 {
	position: absolute;
	color: #ff8330;
	z-index: 2;
	top: 5px;
	*top: 7px;
}

.ovsea_tips .seaj2 {
	color: #fff1e9;
	left: 1px;
}

.ovsea_con {
	width: 363px;
	height: 28px;
	line-height: 28px;
	padding: 0 10px;
	border: 1px solid #ff8330;
	background-color: #fff1e9;
	position: absolute;
	top: 0;
	right: 0;
}

.ovsea_con p {
	color: #333333;
}

.ovsea_con p a:link,.ovsea_con p a:visited {
	text-decoration: underline;
}

.ovsea_con p a:hover {
	text-decoration: none;
}

.ovsea_con .clo_ovsea {
	width: 16px;
	height: 16px;
	line-height: 16px;
	float: right;
	margin-top: 6px;
	overflow: hidden;
	background: url(../images/carParams/ovseabg.png) no-repeat;
}
/*即将上市提示*/
.upcoming_tips {
	text-align: left;
	width: 100px;
	height: 20px;
	line-height: 20px;
	float: left;
	position: relative;
	top: 13px;
	left: 5px;
	margin-right: -13px;
	font-size: 12px;
	font-weight: normal;
	font-family: "\5B8B\4F53";
}

.upcoming_tips .upj {
	position: absolute;
	color: #ff6600;
	z-index: 2;
	top: 1px;
	*top: 2px;
}

.upcoming_tips .up_con {
	width: 95px;
	text-align: center;
	color: #FFFFFF;
	background-color: #ff6600;
	position: absolute;
	top: 0;
	right: 0;
}

.upcoming_tips .up_con p {
	padding: 0;
	margin: 0;
}

.ayear2 ul {
	width: 68px;
	left: 10px;
}

.ayear2 ul li a {
	padding-left: 15px;
}

.asell2 {
	background-position: -49px -55px;
}

/* 左侧跟随 */
.followcon {
	width: 127px;
	position: absolute;
	display: none;
	/*position:fixed;_position:absolute;margin-left:-134px;*/
	z-index: 100;
}

.folul {
	width: 121px;
	background-color: #eef3f9;
	padding: 5px 0px;
	margin: 0 5px;
	float: left;
}

.folul li {
	width: 121px;
	height: 100%;
	background-position: 100px -274px;
	float: left;
	_overflow: hidden;
}

.folul li.top {
	background-position: 100px -339px;
}

.folul li a.top:hover {
	background-position: 100px -345px;
}

.folul li.bottom {
	background-position: -34px -273px;
}

.folul li a.bottom:hover {
	background-position: -34px -275px;
}

.folul li a {
	display: block;
	height: 23px;
	line-height: 23px;
	margin: 2px 0;
	padding-right: 25px;
	text-align: center;
}

.folul li a:link,.folul li a:visited {
	color: #5c6962;
	text-decoration: none;
}

.folul li a:hover {
	color: #5c6962;
	background-color: #cfe0f4;
	background-position: 100px -311px;
}

.folul li a.active,.folul li a.active:link,.folul li a.active:visited,.folul li a.active:hover
	{
	width: 101px;
	height: 31px;
	line-height: 31px;
	background-position: 0 -229px;
	margin: 0 0 0 -4px;
	padding-right: 45px;
	color: #fff;
	font-weight: bold;
	position: relative;
}
/*增加对比*/
.carbox .btn-mini,.carbox .added {
	display: inline-block;
	width: 45px;
	height: 16px;
	line-height: 16px;
	padding: 0;
	border: 0 !important;
	font-weight: bold;
}

.carbox .added .icon10-plus {
	display: none;
}

.carbox .added:link,.carbox .added:visited,.carbox .added:hover {
	color: #FFFFFF;
	text-decoration: none;
	background-color: #d9e5f3;
	cursor: default;
}

.carbox .btn-mini:link,.carbox .btn-mini:visited {
	color: #FFFFFF;
	background-color: #3b5998;
}

.carbox .btn-mini:hover {
	color: #FFFFFF;
	background-color: #ff7700;
}

.carbox .icon10-plus {
	display: inline-block;
	width: 12px;
	height: 12px;
	float: left;
	margin: 3px 0 0 3px;
	vertical-align: middle;
	overflow: hidden;
	background-position: -180px -160px;
}
/*产品库车型对比浮层样式*/
div.comparepop {
	z-index: 1500;
}

div.comparepop .comparepop-alert {
	color: #666666;
}
/*双十一购车提示*/
.crazed-tips1,.crazed-tips1 i,.crazed-tips2,.crazed-tips2 i {
	background: url(../images/carParams/icon-huibg.png) no-repeat;
}

.crazed-tips1 {
	height: 30px;
	line-height: 30px;
	padding: 0 5px;
	float: left;
	margin: 10px 0 0 15px;
	color: #FFFFFF;
	font-family: \5FAE\8F6F\96C5\9ED1;
	font-size: 15px;
	background-repeat: repeat-x;
	position: absolute;
}

.crazed-tips1:link,.crazed-tips1:visited {
	color: #FFFFFF;
}

.crazed-tips1:hover {
	color: #ffffff;
	text-decoration: underline;
}

.crazed-tips1 .font-bold {
	font-size: 16px;
}

.crazed-tips1 i {
	width: 5px;
	height: 30px;
	position: absolute;
	top: 0;
}

.crazed-tips1 .crazed-tips-iconl {
	background-position: 0 -33px;
	left: -1px;
}

.crazed-tips1 .crazed-tips-iconr {
	background-position: -45px -33px;
	right: -1px;
}

.row {
	margin-bottom: 10px;
}

.alert .alert-con-hui {
	max-width: none !important;
	width: 968px;
	font-size: 14px;
}

.alert-con-hui a:hover {
	text-decoration: underline;
}

/* 选装配置 */
.pzbox .optioncont {
	padding: 4px 0;
	position: relative;
}

.pzbox .optioncont .link-green {
	color: #66b000;
}

.pzbox .optioncont .link-green:hover {
	color: #d60000;
}

.pzbox .optioncont .optioncont-pop {
	width: auto;
	position: absolute;
	bottom: 50px;
	left: 0;
	margin-left: -27px;
}

.pzbox .optioncont .optioncont-pop .pop-content {
	width: 210px;
}

.pzbox .optioncont .optioncont-pop .pop-content-info {
	width: auto;
	min-height: 10px;
	_height: auto;
	text-align: left;
	color: #666;
}

.pzbox .optioncont .optioncont-pop .pop-name {
	font-weight: bold;
	color: #333;
	padding-bottom: 5px;
}

.pzbox .optioncont .pop01 .pop-top {
	left: 50%;
	margin-left: -10px;
}

.tbcs td .other-sel {
	width: auto;
	text-align: left;
	padding: 0 10px;
}

/* 更多颜色 */
.color-ul {
	display: block;
	height: 82px;
	padding-left: 8px;
}

.color-ul li {
	width: 18px;
	height: 18px;
	line-height: 0;
	float: left;
	margin: 5px 3px;
	position: relative;
}

.color-ul li a {
	display: block;
	width: 16px;
	height: 16px;
	border: 1px solid #d60000;
}

.color-ul li a em {
	cursor: pointer;
}

.color-ul li span {
	display: block;
	width: 16px;
	height: 16px;
	border: 1px solid #cecece;
}

.color-ul li em {
	width: 16px;
	height: 16px;
	line-height: 0;
	overflow: hidden;
	zoom: 1;
	position: absolute;
	top: 1px;
	left: 1px;
	z-index: 5;
}

.color-ul li em.em-top {
	width: 16px;
	height: 8px;
	top: 1px;
	left: 1px;
	z-index: 10;
}

.color-ul li em.em-bottom {
	width: 16px;
	height: 8px;
	top: 9px;
	left: 1px;
	z-index: 10;
}

table {
	margin: 0;
}
/* body {margin: 0;font: 12px/18px "\5B8B\4F53",Arial,Helvetica,sans-serif;background: #FFF;}*/
.pztip {
	line-height: normal;
	margin-top: 10px;
	font-weight: bold;
	color: #d60000;
}

.find-club a {
	color: #fff;
}