/*×ÔÖú±£Ñø*/
.contBox1 { width:950px; margin:0 auto;}
.titleBox { padding:25px 0; overflow:hidden}
.titleBox h2 { background:url(../images/self/icon_1.gif) no-repeat 0 0; color:#666; font-family:"Î¢ÈíÑÅºÚ"; font-size:18px; padding:0 0 0 30px; float:left;line-height:24px;}
.titleBox h2 b {font-size:24px; color:#9f2024; line-height:24px; }
.titleBox ol { float:right; width:320px; padding:22px 0 0;}
.titleBox li{ float:left; width:80px; color:#666;font: 14px/20px "Î¢ÈíÑÅºÚ"; text-align:center;}
.setp1 { background:url(http://c1.yangche51img.com/webresources/css/../images/self/setp.gif)}
.setp2 { background:url(http://c1.yangche51img.com/webresources/css/../images/self/setp.gif) 0 -52px}
.setp3 { background:url(http://c1.yangche51img.com/webresources/css/../images/self/setp.gif) 0 -104px no-repeat}
.titleBox li.cur { color:#5a9823;}
.models1 { border:2px solid #eee; border-top:3px solid #c10208; background:url(../images/self/icon_1.gif) no-repeat 14px -28px; /*position:relative;*/}
.models1 h3 { width:100%; text-align:center;font: 18px/50px "Î¢ÈíÑÅºÚ";  color:#333;background:url(../images/self/icon_1.gif) no-repeat 910px -28px;}
.models1 h3 b {font: 22px/50px "Î¢ÈíÑÅºÚ";}
/*.models span { position:absolute; display:block; width:740px; left:105px; top:46px;_top:50px} 
.models i{background:url(../images/self/icon_1.gif) center -416px no-repeat; height:12px; display:block; width:740px; overflow:hidden}
.models span div { background:#f3e077; height:40px;}
.models span div b{font: 14px/40px "Î¢ÈíÑÅºÚ"; float:left; background:url(../images/self/icon_1.gif) -16px -429px no-repeat; padding:0 0 0 20px;}
.models span div a{font: 14px/40px "Î¢ÈíÑÅºÚ"; float:right; background:url(../images/self/icon_1.gif) 52px -429px no-repeat;  width:60px; color:#333; }
.models span div a em { width:20px; height:20px; background:url(../images/self/icon_1.gif) 0 -122px; display:block; float:left; margin-top:13px;}
*/

.modelsSelect { width:740px; position:relative; margin:0 auto; background:#f3e077;_border-radius:6px;} 
.modelsSelect i{background:url(http://c1.yangche51img.com/webresources/css/../images/self/icon_1.gif) center -416px no-repeat; height:12px; display:block; width:50px; left:50%; position:absolute; top:-12px;overflow:hidden;}
.modelsSelect div { margin:5px 0 0; }
.modelsSelect span { float:left; width:670px;}
.modelsSelect div b{font: 14px/40px "Î¢ÈíÑÅºÚ"; float:left; padding:0 0 0 20px;}
.modelsSelect div a{font: 14px/40px "Î¢ÈíÑÅºÚ"; float:right; width:60px; color:#333; }
.modelsSelect div a em { width:20px; height:20px; background:url(../images/self/icon_1.gif) 0 -122px; display:block; float:left; margin-top:13px;}

.listBox{ border:3px solid #eee; padding:1px; width:1192; margin-top:5px; background:#fffce9}
.partsList { padding:6px 0 6px 6px; width:700px; float:left; background:#FFF;}
.partsList h4 { background:url(../images/self/icon_1.gif) no-repeat 0 -82px;font:20px/30px "Î¢ÈíÑÅºÚ"; padding:0 0 0 20px; margin:0.5em 0 0.8em; overflow:hidden;}
.partsList .info {background:url(../images/self/icon_1.gif) no-repeat 0 -158px;font:12px/22px "ËÎÌå"; color:#333; padding:0 0 0 20px; margin:8px 0;overflow:hidden;}
.partsList .info a{ float: right; background: #f3e077; padding: 4px 14px; display: block; color: #333; font-size: 14px; border-radius: 5px; box-shadow: inset 0px -2px 0px 0px #bdbdbd; margin:0 5px 0 0;_margin:0 5px 5px 0}
.info span { display:block; color:#999; line-height:14px;}

.tableBox {border:2px solid #f3ccce; border-top:3px solid #c10208; width:566px}
.tableBox table{ width:558px; margin:3px auto;border-collapse: collapse;}
.tableBox thead{ background:#e8e8e8; font-size:14px; color:#333; text-align:center; font-weight:bold; }
.tableBox thead td {height:40px;}
.tableBox tbody td { border-left:1px solid #e8e8e8;}


.tableBox tbody td.category,.tableBox tbody td.pName {border-left:none;}
.category { padding:10px 0 10px 40px; height:32px; background-image:url(../images/self/category.gif); background-repeat: no-repeat; color:#b88817; font-size:14px; font-weight:bold; border-bottom:3px solid #e8e8e8; }
.category a { float:right; background:url(../images/self/icon_1.gif) 0 -312px no-repeat; width:14px; height:14px; display:block; overflow:hidden; line-height:50px;}
.n1 {background-position:0 10px;}
.n2 {background-position:0 -32px;}
.n3 {background-position:0 -74px;}
.n4 {background-position:0 -116px;}
.n5 {background-position:0 -158px;}
.n6 {background-position:0 -200px;}
.n7 {background-position:0 -242px;}
.n8 {background-position:0 -284px;}
.n9 {background-position:0 -326px;}
.n10 {background-position:0 -368px;}
.n11 {background-position:0 -410px;}
.n12 {background-position:0 -452px;}
.n13 {background-position:0 -494px;}
.n14 {background-position:0 -536px;}
.n15 {background-position:0 -578px;}
.n16 {background-position:0 -620px;}
.n17 {background-position:0 -662px;}
.n18 {background-position:0 -704px;}
.n19 {background-position:0 -746px;}
.n20 {background-position:0 -788px;}
.n21 {background-position:0 -830px;}
.n22 {background-position:0 -872px;}
.n23 {background-position:0 -914px;}
.n24 {background-position:0 -956px;}
.n25 {background-position:0 -998px;}
.n26 {background-position:0 -1040px;}

.tableBox tbody td.pName,.pLink,.pPrice,.pNumber,.pDo{ padding:3px;border-bottom:1px solid #e8e8e8;}
.pName{ color:#999; font-size:12px; width:116px;}
.pName span{ color:#333; font-size:14px;}

.pLink{ color:#88c35d; font-size:12px; line-height:1.5em;}
.pLink a{ color:#518eb4; font-size:12px;}
.pPrice{ color:#960000; font-size:14px; font-weight:bold; width:74px; text-align:right}
.pNumber input{ border:1px solid #959595; width:30px; padding:7px 0; text-align:center; margin:0 4px;}
.pNumber{ width:62px; font-size:16px; color:#333; text-align:center}
.pDo{ font-size:12px; text-align:right; width:36px; position:relative;}
.pDo i{ position:absolute; display:none; width:14px; height:58px; background:url(../images/self/icon_1.gif) 0 -514px; right:-18px; margin-top:-23px;_margin-top:-3px;  }

.tableBox tfoot td{ position:relative;height:205px;_height:245px;}
.payBox{ position:absolute; width:536px; height:178px; left:-6px; top:3px; background:#fefaf8;border:2px solid #f3ccce; border-top:none; padding:15px}
.payBox .price { text-align:right; font-size:14px; color:#666; line-height:40px;}
.payBox .price b { font-size:24px; color:#960000; font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif; line-height:40px;}
.payBox .other {text-align:right;font-size:14px; color:#666; line-height:40px;}
.payBox .other a { text-decoration:underline;}
.payBox .submitBox { width:100%;text-align:right;float:right;font-size:14px; color:#666; line-height:40px; margin:15px 0 0 0; position:relative;}
.payBox .submitBox .button{ float: right; background:#c10208; padding: 4px 12px; display: block; color:#fff; border-radius: 5px; box-shadow: inset 0px -2px 0px 0px #83001a;font:20px/30px "Î¢ÈíÑÅºÚ"; font-weight:bold;margin:0 0 0 15px; }


.payBox .linkAPP { width:306px; float:right;}
.linkAPP { width:306px; height:30px; border:2px solid #F90; background:#FFF url(../images/detail/2code.gif) no-repeat -134px 9px; padding:10px 8px 0 34px; position:relative;}
.linkAPP a { font-size:12px; color:#000; line-height:22px;}
.linkAPP a span {color:#f90b0b;}
.linkAPP i { width:22px; height:22px; background:url(../images/detail/2code.gif); float:right; position:absolute; right:8px; top:8px; overflow:hidden}
.linkAPP i a { width:22px; height:22px;overflow:hidden; line-height:120px;_line-height:60px; display:block}
.layer2code { position:absolute;background:url(../images/detail/2code.gif) bottom; width:160px; height:181px; right:-2px; top:-188px; text-align:center; font-size:12px; color:#666; padding:8px 0 0;}
.moreParts { background:#fffce9}
.moreParts .pDo i{ display:block;}

.moreList { width:482px; float:right;}
.moreList h5 { background:url(../images/self/icon_1.gif) no-repeat 0 -82px;font:20px/30px "Î¢ÈíÑÅºÚ"; padding:0 0 0 20px; margin:16px 0 0; overflow:hidden; }
.moreList .info {font:12px/22px "ËÎÌå"; color:#333; margin:8px 0 0px 0;overflow:hidden;}

.selectBox {width:100%;}
.select { width:167px; height:34px; background:#F1EFEB;font:16px/34px "Î¢ÈíÑÅºÚ"; float:left;cursor:pointer; position:relative; z-index:999;}
.select.right { margin:0 0 0 20px;}
.select span { padding:0 10px;}
.select span i { width:14px; height:10px; background:url(../images/self/icon_1.gif) 0 -203px; display:block; float:right; margin:13px 10px 0 0;}
.select ol { background:#FFF; box-shadow:0px 2px 2px 0px #666; position:absolute; top:34px; left:0;border:1px solid #eee; border-bottom:none}
.select ol li { border-bottom:1px solid #eee }
.select ol li a { font-size:14px;padding:0 10px; color:#666; width:147px; display:block}
.select ol li a:hover { background:#FFC}

.moreList table{ width:482px; margin:10px 0 0 0;border-collapse: 1px;}
.moreList thead{ background:#f9eeb0; font-size:12px; color:#333; text-align:center; font-weight:bold; }
.moreList thead td {height:40px; }
.moreList tbody td { background:#FFF;border-bottom:1px solid #e8e8e8;}
.moreList tbody .pPrice {border-left:1px solid #e8e8e8;border-right:1px solid #e8e8e8;}
.moreList tbody img {border:1px solid #e8e8e8; margin:6px 3px;}
.moreList tbody .pDo { text-align:center}
.moreList tbody .pDo a { background:url(../images/self/icon_1.gif) 9px -255px no-repeat; padding-top:20px; display:block; color:#b88817}
.sList th { background:#f9eeb0; font-size:12px; height:40px;}
.sList td { padding:10px; font-size:12px;}
.sList .center { text-align:center;}
.sList .project {border-left:1px solid #e8e8e8;border-right:1px solid #e8e8e8;}
.listbut { padding:20px 0;width: 320px;}
.backtop { padding:10px; background:#f3e077; font-size:12px; color:#000; float:left;_line-height:16px;}
.listbut .nextstep{ float: right; background:#c10208;display: block; color:#fff; border-radius: 5px; box-shadow: inset 0px -2px 0px 0px #83001a;font-size:12px;padding:10px;}


.pPic { position:relative;}
.pPic i { background:url(../images/self/icon_1.gif) -3px -477px; width:22px; height:22px; position:absolute; right:3px; top:6px }
.infoErr { width:315px; padding:15px 20px; background:#f9eeb0; margin-top:15px; font-size:14px; color:#c10208 }
.infoErr span{ padding:0 0 0 20px; background:url(../images/self/icon_1.gif) 0 -367px no-repeat; display:block; line-height:1.5em;}
.infoErr span a { color:#000; text-decoration:underline;}


.pLink div { color:#666;}
.pLink div b { color:#F00; display:block;}
.pLink div.screening { background:#FFC; text-align:center;}
.pLink div.screening a { display:block; background:#F3E077; padding:4px 10px; width:50px; margin:4px auto; color:#000;}
/* page */
.page{float:right;padding:15px;height:25px;display:inline;}
.page a{color:#666;padding:2px 5px;background:#fff;border:1px #ccc solid;color:#666;font:12px arial;}
.page span,.page a:hover {padding:2px 5px;background:#F9EEB0;border:1px #E1A924 solid;font:12px arial;text-decoration:none; }

.page a.pageup{padding:0 0 0 12px;border:0;height:20px;line-height:20px;}
.page a.nextpage{padding:0 12px 0 0;border:0;height:20px;line-height:20px;}

.page a.nopageup{padding:0 0 0 12px;border:0;height:20px;line-height:20px;}
.page a.nonextpage{padding:0 12px 0 0;border:0;height:20px;line-height:20px;}

.page a.pageup:hover{padding:0 0 0 12px;border:0;height:20px;line-height:20px; background:none; }
.page a.nextpage:hover{border:0;padding:0 12px 0 0; height:20px;line-height:20px;background:none;}

.page a.nopageup:hover{padding:0 0 0 12px;border:0; background:none;}
.page a.nonextpage:hover{border:0;padding:0 12px 0 0; background:none;}


/* err info */
.nullpack {background: #FFC;border: 1px solid #F3E077;color: #A33E01;font: 12px/17px "ËÎÌå";margin: 10px auto;padding: 5px;width: 510px;text-align: center;}
.moreList .page { padding:10px 0;}
.chooseTips { position:absolute;  top:-50px; right:-64px;}
.chooseTips i { display:block; width:24px; height:12px; background: url(../images/self/icon_1.gif) center -588px no-repeat; margin:0 auto;}
.chooseTips div {background:#F3E077; overflow:hidden}
.chooseTips b{float: left;background: url(../images/self/icon_1.gif) -16px -429px no-repeat; color:#000; padding:0 0 0 10px}
.chooseTips span{ display:block; float: right;background: url(../images/self/icon_1.gif) 52px -429px no-repeat;}
.chooseTips a{ display:block; padding:2px; background: #C10208; line-height:20px; color:#FFF; margin:10px 6px; padding:0 6px;}

.tableSetp2 {border:2px solid #f3ccce; border-top:3px solid #c10208; width:700px; margin-bottom:10px}
.tableSetp2 h6{ border-bottom:1px solid #e8e8e8; margin:5px; height:36px; color:#b88817;font:bold 14px/32px "ËÎÌå" ;}
.tableSetp2 h6 b{ width:32px; background:#e1a924; font:24px/32px "Î¢ÈíÑÅºÚ"; float:left; color:#FFF; font-style:italic; text-align:center; border-radius:3px; margin-right:10px;}
.tableSetp2 h6 span{ padding:8px; background:#f9eeb0; border-radius:3px;}
.tableSetp2 h6 .close{ float:right; background:url(../images/self/icon_1.gif) no-repeat 30px -600px; display:block; padding:0 30px 0 0; text-decoration:none; margin-top:0px;*margin-top:-30px; _margin-top:-30px;}
.tableSetp2 h6 a { font-size:12px; color:#666; text-decoration:underline; font-weight:normal; margin-left:10px;}
.tableSetp2 dl { overflow:hidden; margin:8px 5px 0;}
.tableSetp2 dl dt { float:left; font-size:14px; line-height:30px;}
.tableSetp2 dl dd { float:right;}
.tableSetp2 dl dd .addmainten { display:block; padding:8px; color:#FFF; background:#e1a924; font-size:12px;line-height:14px;}
.tableSetp2 dl dd .added{cursor:text;}

.tableSetp2 table {width:700px; margin:3px auto;border-collapse: 1px;border-collapse:collapse;}
.tableSetp2 th {background:#e8e8e8; font-size:14px; color:#333; text-align:center; font-weight:bold; height:40px;}
.tableSetp2 td { font-size:12px; text-align:left; padding:8px 4px;border-bottom:1px solid #e8e8e8; border-right: 1px solid #e8e8e8;border-top:1px solid #e8e8e8;}
.tableSetp2 .textl { text-align:left; border-left:1px solid #e8e8e8; border-right:1px solid #e8e8e8;border-top:1px solid #e8e8e8;*padding-left: 2px;*padding-right: 2px;}
.tableSetp2 .textl span { color:#999}
.used a { font-size:12px; float:left; color:#666; text-decoration:underline; line-height:32px; margin-left:10px;}
.infoSMS { width:380px; height:80px; background:url(../images/self/tip.gif); margin:20px auto; font-size:12px; color:#414141; line-height:22px; padding:30px 20px 0 110px; position:relative;}
.infoSMS .close { position:absolute; height:25px; width:25px; border:3px solid #959595; border-radius:15px; overflow:hidden; text-align:center; font: bold 16px/25px "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif; color:#666; text-decoration:none; top:1px; right:10px;background:#FFF;}
.infoSMS a { color:#518eb4; font-size:14px; text-decoration:underline; font-weight:bold;}
.infoSMS b{ color:#e1a924;font-size:14px;} 
.infoBox { width:306px; height:146px;background:url(../images/self/tip.gif) 0 -124px; margin:30px auto; color:#c10208;font: bold 14px/22px "Î¢ÈíÑÅºÚ";  padding:45px 35px 0 140px;}
.infoBox a { width: 300px; height: 60px; background: #f39700; display: block; margin: 40px 0 0 0;  font: 20px/60px "Î¢ÈíÑÅºÚ";  color: #FFF; text-align: center; border-top-left-radius: 10px; border-bottom-right-radius: 17px; }
.change { position:relative; z-index:999;}
.change i { position:absolute; width:16px; height:10px; background:url(../images/self/icon_1.gif) -4px -630px; top:6px; left:50%; margin:0 0 0 20px; overflow:hidden;}
.change div { width: 220px; height: 85px; _height:45px; border: 2px solid #518eb4; background: #FFF; -webkit-box-shadow: 3px 3px 0px #999999; box-shadow: 3px 3px 0px #999999; position:absolute;  padding:20px; _padding: 20px 20px 0px 20px; left:-35%; margin:4px 0 0 90px; font-size:12px; line-height:20px;*top:24px; _top:24px;}
.change div b{ color:#c10208;}
.change div span{ display:block; margin:3px 0 0 0;font-size:12px; color:#333;}

.modelsForm { background:#FFF; padding:30px 62px 50px;}
.carpic { background:#F6F6F6; padding:15px; float:left}
.carpic p{ text-align:center; color:#999; font-size:12px; margin-bottom:15px}
.photo180 { width:180px; height:180px; overflow:hidden;}
.photo180 li {width:180px; height:180px; float:left; _position:static;}
.carpic .pages{text-align:center;font-size:12px; margin-top:20px;}
.carpic .pages a{ color:#333; font-size:12px; margin:0 5px}

.formBox { float:right; width:566px;}
.txtTips { color:#666; font-size:16px; margin-bottom:25px; font-weight:bold;}
.txtTips span{ color:#b88817; margin:0 5px;}
.ftips { background:#F7E9A0 url(../images/self/icon_1.gif) no-repeat 8px -650px; padding:8px 8px 8px 32px; width:480px; font-size:12px }
.formBox ul {}
.formBox li { padding:15px 0 0 ; line-height:46px; _padding-top:5px;}
.formBox .fleft { float:left; font-size:16px; color:#333; width:114px;}
.formBox .fright { float:left; font-size:16px; color:#333; width:450px; _margin-bottom:-20px;}
.formBox .fright input{ width:357px; height:30px;font: 16px/30px "Î¢ÈíÑÅºÚ"; color:#333; padding:8px;*float:left;}
.formBox .fright b{ font-weight:normal;*float:left;*display:block;*margin:0 10px;*line-height:50px;}
.help { float:right;position:relative; *position:absolute;width:16px; height:16px; margin-top:17px;z-index:94; }
.help a { width:16px; height:16px; background:url(../images/self/icon_1.gif) 0 -697px; display:block}
.help span { width: 220px; border: 2px solid #518eb4; background: #FFF; -webkit-box-shadow: 3px 3px 0px #999999; box-shadow: 3px 3px 0px #999999; position:absolute; top:27px; padding:20px; left:-50%; margin:0 0 0 -114px; font-size:14px; line-height:20px}
.help span i{ position:absolute; width:16px; height:10px; background:url(../images/self/icon_1.gif) -4px -630px; top:-10px; left:50%; margin:0 0 0 -8px; overflow:hidden;}
.sel1 { width:180px; height:46px; background:#f1f0f0; float:left; margin:0 18px 0 0; position:relative;}
.sel1 .input { padding:0 10px; width:120px; float:left}
.sel1 .sel1_but { width:14px; height:10px; background:url(../images/self/icon_1.gif) 0 -203px; display:block; float:right; margin:18px 14px 0 0;}

.sel1 .sel1_layer { background:#FFF; box-shadow:0px 2px 2px 0px #666; position:absolute; top:42px; left:0; border:1px solid #eee; border-bottom:none}
.sel1 .sel1_layer ul li { border-bottom:1px solid #eee; line-height:36px; padding:0}
.sel1 .sel1_layer ul li a { font-size:14px;padding:0 10px; color:#666; width:160px; display:block}
.sel1 .sel1_layer ul li a:hover { background:#FFC}

.firbut { padding:15px 0 0 99px;}
.firbut a { float:left; background:#c10208; padding: 14px 40px; display: block; color:#fff; border-radius: 5px; box-shadow: inset 0px -2px 0px 0px #83001a;font:24px/30px "Î¢ÈíÑÅºÚ"; margin:0 0 0 15px; }

.listProject { border:2px solid #eee; padding:20px; margin-top:20px;}
.listProject h3 {font:20px/30px "Î¢ÈíÑÅºÚ"; color:#545454}
.listProject dl dt{font:16px/30px "Î¢ÈíÑÅºÚ"; color:#545454; padding:0 0 0 20px; background:url(../images/self/icon_1.gif) 0 -82px no-repeat; margin:8px 0;}
.listProject dl dd a{font:12px/20px "ËÎÌå"; color:#999}

.infoAD {background:#fffdf1; border:1px solid #e8dec5; padding:25px 20px; height:110px; margin-top:20px}
.infoAD div { background:url(../images/self/tip.gif) 0 -348px; width:350px; height:110px; float:left; margin:0 80px;*margin:0 70px;}
.infoAD span { background:url(../images/self/tip.gif) 0 -490px; width:330px; height:110px; display:block; float:left;}
.projectright{right:0;width:482px; position:absolute;}
#projectpanel{position:relative;}
.mcartips{ border:3px solid #a66005; width:724px; background:#fff; float:left;}
.mscartips{border:3px solid #a66005; width:450px; background:#fff;}
.mcartips .tipstitle ,.mscartips .tipstitle{ background:url(../images/mycar/lbg.png) repeat-x 0  -120px; height:35px; font: bold 18px/35px "Î¢ÈíÑÅºÚ"; color:#7b4100; padding-left:20px;}
.mcartips .tipstitle span{ color:#333; padding-left:10px;}
.mcartips a.mcarclose ,.mscartips a.mcarclose{ float:right; background:url(../images/mycar/icon20130506.gif) no-repeat 0 -200px; width:12px; height:12px; margin:5px 5px 0 0;}
.mcartips p{font:12px/20px "ËÎÌå"; color:#666; margin:10px 0 0 20px;}
.mscartips p{ font:14px/24px "ËÎÌå"; color:#666; text-indent:2em;margin:10px 0 0 20px;}
.mcartips p.tiperror{ background:url(../images/mycar/icon20130506.gif) no-repeat 0 -242px; color:#ff0000; padding-left:20px;}
.mcartips dl{ margin:15px 0; }
.mcartips dl dt{ width:300px; float:left; display:inline; margin:0 0 0 20px; border-right:1px solid #ccc;}
.mcartips dl dd{ width:300px; float:left; margin-left:20px; display:inline;}
.mcartips dl dt b ,.mcartips dl dd b{ font:bold 14px/16px "ËÎÌå"; color:#666; height:30px; display:block;}
.mcartips dl dt b a{float:right;margin-right:100px; font-size:12px;}

.mcartips dl dt ul li ,.mcartips dl dd ul li{ margin-bottom:10px; *margin-bottom:5px; _margin-bottom:5px;}
.mcartips dl dt ul li .sel ,.mcartips dl dd ul li .sel{ float:none; width:278px; display:block; margin:0 0 5px 0;}
.mcartips dl dt ul li .sel .input ,.mcartips dl dd ul li .sel .input{ width:253px;}
.mcartips dl dt ul li .sel .sel_layer ul ,.mcartips dl dd ul li .sel .sel_layer ul{ width:275px;}
.mcartips dl dt ul li .sel .sel_layer ul li ,.mcartips dl dd ul li .sel .sel_layer ul li{ _height:20px; overflow:hidden;}
.mbut{background:url(../images/mycar/lbg.png) repeat-x 0 -340px; height:24px; border:1px solid #764405; width:80px; text-align:center; margin-top:10px; overflow:hidden;}
.mbut a{ border:1px solid #ffa829; height:22px; display:block; font:12px/22px "ËÎÌå"; color:#fff; width:78px; text-align:center;}

.mcartips dl dd a{font:12px/24px "ËÎÌå"; display:block; }
.mcartips dl dd a.carlogin{ background:url(../images/common/pagebutton.png?v=20120719) repeat-x 0 -180px; height:24px; border:1px solid #ccc; font:12px/24px "ËÎÌå"; color:#666; display:block; width:80px; text-align:center; margin-bottom:10px;}

.mcartips dl dd .setleft{ float:left; width:80px; height:80px; border:1px solid #ccc; display:inline; margin-right:20px;}
.mcartips dl dd .setright{ float:left; padding-top:20px; *padding-top:25px; _padding-top:25px;}

.mcartips dl dt ul.mycarlist li{  width:262px; overflow:hidden; padding-left:10px; cursor:pointer;}
.mcartips dl dt ul.mycarlist li.listcur{ background:#fffaed; border:1px solid #e0b97e;padding:10px;}
.mcartips dl dt ul.mycarlist li .ml{ width:60px; float:left; border:1px solid #ccc; display:inline; margin-right:10px;}
.mcartips dl dt ul.mycarlist li .mr{ width:190px; float:left;}
.mcartips dl dt ul.mycarlist li .mr strong{ display:block; font:bold 14px/24px "ËÎÌå"; color:#754404;}
.mcartips dl dt ul.mycarlist li .mr p{ padding:0; margin:0; text-indent:0;}
.scroll{ height:300px; overflow-y:auto; padding:0 20px 10px; margin-bottom:10px;color:#333;font-size:12px;}
.scroll b{ display:block; font:bold 14px/24px "ËÎÌå"; color:#333; margin:10px 0 5px;}
.mcartips .scroll p{ margin:0 0 5px 0;}
.scroll strong{display:block; font:bold 12px/24px "ËÎÌå"; color:#3a6eac; margin:10px 0 5px; background:url(../images/mycar/icon20130506.gif) no-repeat 0 -218px; padding-left:15px;}
.question{ padding-left:20px;}
.question b{ font:bold 12px/24px "ËÎÌå"; color:#7b4100; display:block; margin-bottom:5px;}
.question ul li{ float:left;  width:130px;  margin-right:10px; font:12px/22px "ËÎÌå"; color:#666; height:22px; margin-bottom:5px;}
.question ul li input{ vertical-align:middle;  }
.checkbut{ margin:10px 0 20px 20px;}
.checkbut span.adbut{background:url(../images/mycar/lbg.png) repeat-x 0 -380px; height:30px; border:1px solid #764405; width:105px; display:block; text-align:center; float:left; margin-right:10px; }
.checkbut span.adbut a{border:1px solid #ffa829; height:28px; display:block; font:bold 14px/28px "ËÎÌå"; color:#fff;width:103px;  }
.checkbut span.adclose{background:#fff url(../images/mycar/lbg.png) repeat-x 0 -245px; height:30px; border:1px solid #ccc; width:60px; display:block; text-align:center; float:left;}
.checkbut span.adclose a{border:1px solid #fff; height:28px; display:block; font:14px/28px "ËÎÌå"; color:#666;width:60px;  }
.specialbut{ margin:15px 0 10px 115px;}
.specialbut a{ display:block; float:left; margin-right:10px;}
.specialbut a.spsubmint{ background:url(../images/mycar/lbg.png) repeat-x 0 -340px; height:24px; border:1px solid #764405; width:80px; text-align:center; text-decoration:none; display:block;}
.specialbut a.spsubmint span{ border:1px solid #ffa829; height:22px; display:block; font:12px/22px "ËÎÌå"; color:#fff; width:78px; text-align:center;}
.specialbut a.spcancel{ background:url(../images/mycar/lbg.png) repeat-x 0 -250px; height:24px; border:1px solid #ccc; width:80px; text-align:center; text-decoration:none; display:block;}
.specialbut a.spcancel span{ border:1px solid #fff; height:22px; display:block; font:12px/22px "ËÎÌå"; color:#666; width:78px; text-align:center;}

.packdetail ul li p.special{color: #CE0000;font: 12px/22px "ËÎÌå";margin: 0 auto;width: 165px;}
.packdetail ul li p.special{ color:#CE0000; height:22px; overflow:hidden;}

#ul_Car .sel{ z-index:auto;}
#ul_Car .sel_layer ul li{  width:auto;}
#showBox{ overflow:visible; float:left;}

td .change{ position:relative; width:19px; height:19px;}
td .change b{ position: absolute; background:url(../images/mycar/right.gif); display:block; width:19px; height:19px; left:1px; top:-6px;  *left:1px; *top:1px;  }

.fstepleft dl dt .carpic .pages a.beforepage{background:url(../../webresources/images/common/icon20130630.gif) no-repeat 0 -567px; *background-position:0 -569px;padding:0 0 0 12px;border:0;}
.fstepleft dl dt .carpic .pages a.afterpage{background:url(../../webresources/images/common/icon20130630.gif) no-repeat 38px -597px; *background-position:38px -599px;  padding:0 12px 0 0;border:0;}
.fstepleft dl dt .carpic .pages a.nobeforepage{ text-decoration:none; cursor:default;background:url(../../webresources/images/common/icon20130630.gif) no-repeat 0 -1416px;  *background-position:0px -1418px; padding:0 0 0 12px;border:0; color:#aca8a8;}
.fstepleft dl dt .carpic .pages a.noafterpage{text-decoration:none; cursor:default; background:url(../../webresources/images/common/icon20130630.gif) no-repeat 38px -1446px; *background-position:38px -1448px; padding:0 12px 0 0;border:0; color:#aca8a8;}
#js-slideShow ul{ position:relative;}

.models .modelsForm .carpic{padding:5px 15px; text-align:center; width:180px; border:1px solid #ccc;}
.models .modelsForm .carpic .photo180{ border:0; overflow:hidden; display:block;*position:relative;}
.models .modelsForm .carpic .pages{ margin:5px 0; height:15px;}
.models .modelsForm .carpic .pages a{color:#7a5b09;font:12px arial;}
.models .modelsForm .carpic .pages a.beforepage{ *background-position:0 -569px;padding:0 0 0 12px;border:0;}
.models .modelsForm .carpic .pages a.afterpage{ *background-position:38px -599px;  padding:0 12px 0 0;border:0;}
.models .modelsForm .carpic .pages a.nobeforepage{ text-decoration:none; cursor:default;  *background-position:0px -1418px; padding:0 0 0 12px;border:0; color:#aca8a8;}
.models .modelsForm .carpic .pages a.noafterpage{text-decoration:none; cursor:default; *background-position:38px -1448px; padding:0 12px 0 0;border:0; color:#aca8a8;}
#span_BSX{ font-size:12px;}





/*±£ÑøµÚ¶þ²½ÐÂÔö²ÎÊýÑùÊ½*/



.tableSetp2 th.line {height:0px;}

 

.tableSetp2 .textr { text-align:left; border-left:1px solid #e8e8e8; }

 

.tableSetp2 .textr span { color:#999; display:block; padding:8px 0 0;}

 

.textr div.screening{ background:#FFC; text-align:center; height:50px;display:none;}


 

.textr div.screening a { display:block; background:#F3E077; padding:4px 10px; width:50px; margin:-11px 3px auto; color:#000; float:right; line-height:22px;}


.textr div b { color:#F00; float:left; line-height:40px; background:url(../images/self/icon.gif) 4px -794px no-repeat; padding:0 0 0 24px; font-size:12px;}

 

.tableSetp2 .textr div span { padding:0px; color:#000}

 .textr.changecar div.screening{ height:auto; overflow:hidden; }
.textr.changecar div.screening a { display:inline-block; float:none;}
.textr div b { color:#F00; float:left; line-height:40px;}


.textr.changecar { padding:0px;}

 
 .textr div.screening{ background:#FFC; text-align:center; height:40px; }
.textr div.screening a { display:block; background:#F3E077; padding:4px 10px; width:50px; margin:4px auto;margin-top:-10px;margin-left:30px;_margin-top: auto; color:#000; float:right; line-height:22px;}
.textr div b { color:#F00; float:left; line-height:40px; background:url(../images/self/icon.gif) 4px -794px no-repeat; padding:0 0 0 24px; font-size:12px;font-weight: normal;}
.textr div.div_IsNotMRecommendItem { padding:4px;}
.textr div.div_IsNotMRecommendItem b { display:block; float:none; background:none; padding:0; font-size:12px; line-height:30px;}

.tableSetp2 .textr div span { padding:0px; color:#000;float:none; display:inline-block;}
.textr.changecar,.tableSetp2 td.changecar  { padding:0px;}

 .textr.changecar div b { color:#F00; float:left; line-height:40px; background:url(../images/self/icon.gif) 4px -794px no-repeat; padding:0 0 0 24px; font-size:12px; font-weight:normal}

.change div { width: 220px; height: 70px; border: 2px solid #518eb4; background: #FFF; -webkit-box-shadow: 3px 3px 0px #999999; box-shadow: 3px 3px 0px #999999; position:absolute; top:34px; padding:20px; left:-50%; margin:0 0 0 190px; font-size:12px; line-height:20px}


.textr.changecar div.screening{ height:auto; overflow:hidden; }
.textr.changecar div.screening a { display:inline-block; float:none;}

.tableSetp2 .textr label { color:#999}

 
 
 
 
 
 

.payBox .submitBox a { font-size:12px}

 

/*×ÔÖ÷±£ÑøµÚ¶þ²½ÐÞ¸ÄÑùÊ½*/

.partsList .info {background:url(../images/self/icon.gif) no-repeat 0 -158px;font:12px/22px "ËÎÌå"; color:#929292; padding:0 0 0 20px; margin:8px 0;overflow:hidden;}

 

.info span { display:block; color:#b0b0b0; line-height:14px;}

 

.tableSetp2 h6 span{ padding:8px; background:#f9eeb0; border-radius:3px;}

 

.moreList .info {font:12px/22px "ËÎÌå"; color:#929292; margin:8px 0 22px 0;overflow:hidden;}

 

.tableSetp2 th {background:#e8e8e8; font-size:14px; color:#333; text-align:center; font-weight:normal; height:40px;}

 

.tableSetp2 dl dd .addmainten { display:block; padding:8px; color:#FFF; background:#e1a924; font-size:12px;line-height:14px; text-decoration:none}

 

.tableSetp2 dl { overflow:hidden; margin:8px 5px 0px;}

 

.sList th { background:#f9eeb0; font-size:12px; height:40px; font-weight:normal}

 

.moreList tbody td { background:#FFF;border-bottom:1px solid #e8e8e8; color:#6e6e6e;}

 

.backtop { padding:10px; background:#f3e077; font-size:12px; color:#000; float:left;_line-height:16px;}

.tableSetp2 {border:2px solid #f3ccce; border-top:3px solid #c10208; width:700px; margin-bottom:20px}

.tabletitle{background:#e8e8e8; font-size:14px; color:#333; text-align:center; font-weight:normal; height:40px;}
.nullpack {
    background: none repeat scroll 0 0 #ffc;
    border: 1px solid #f3e077;
    color: #a33e01;
    font: 12px/17px "ËÎÌå";
    margin: 10px auto;
    padding: 5px;
    text-align: center;
    width: 510px;
}

.help { z-index:1000; }