<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cnit.yoyo.reship.dao.MemberReshipMapper">
  <resultMap id="ReshipDTOMap" type="com.cnit.yoyo.reship.model.ReshipDTO">
    <result column="reship_id" property="reshipId" jdbcType="INTEGER" />
    <result column="order_item_id" property="orderItemId" jdbcType="INTEGER" />
    <result column="goods_type" property="goodsType" jdbcType="VARCHAR" />
    <result column="product_bn" property="productBn" jdbcType="VARCHAR" />
    <result column="product_name" property="productName" jdbcType="VARCHAR" />
    <result column="number" property="number" jdbcType="REAL" />
    <result column="product_id" property="productId" jdbcType="BIGINT" />
    <result column="goods_id" property="goodsId" jdbcType="BIGINT" />
    
    <result column="return_id" jdbcType="BIGINT" property="returnId" />
    <result column="order_id" jdbcType="BIGINT" property="orderId" />
    <result column="return_bn" jdbcType="VARCHAR" property="returnBn" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="appeal_return_id" jdbcType="BIGINT" property="appealReturnId" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="image_file3" jdbcType="VARCHAR" property="imageFile3" />
    <result column="image_file" jdbcType="VARCHAR" property="imageFile" />
    <result column="image_file2" jdbcType="VARCHAR" property="imageFile2" />
    <result column="intereven_image" jdbcType="VARCHAR" property="interevenImage" />
    <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
    <result column="seller_amount" jdbcType="DECIMAL" property="sellerAmount" />
    <result column="amount" jdbcType="DECIMAL" property="amount" />
    <result column="shipping_amount" jdbcType="DECIMAL" property="shippingAmount" />
    <result column="close_time" jdbcType="TIMESTAMP" property="closeTime" />
    <result column="store_id" jdbcType="BIGINT" property="storeId" />
    <result column="refund_type" jdbcType="INTEGER" property="refundType" />
    <result column="is_intervene" jdbcType="INTEGER" property="isIntervene" />
    <result column="intervene_reason" jdbcType="INTEGER" property="interveneReason" />
    <result column="intervene_phone" jdbcType="VARCHAR" property="intervenePhone" />
    <result column="intervene_mail" jdbcType="VARCHAR" property="interveneMail" />
    <result column="ship_cost" jdbcType="DECIMAL" property="shipCost" />
    <result column="amount_seller" jdbcType="DECIMAL" property="amountSeller" />
    <result column="is_safeguard" jdbcType="INTEGER" property="isSafeguard" />
    <result column="safeguard_type" jdbcType="INTEGER" property="safeguardType" />
    <result column="safeguard_require" jdbcType="INTEGER" property="safeguardRequire" />
    <result column="refund_address" jdbcType="VARCHAR" property="refundAddress" />
    <result column="return_score" jdbcType="DECIMAL" property="returnScore" />
    <result column="image_upload" jdbcType="VARCHAR" property="imageUpload" />
    <result column="is_return_money" jdbcType="INTEGER" property="isReturnMoney" />
    <result column="return_money_id" jdbcType="VARCHAR" property="returnMoneyId" />
    <result column="disabled" jdbcType="INTEGER" property="disabled" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
    <result column="intereven_comment" jdbcType="LONGVARCHAR" property="interevenComment" />
    <result column="product_data" jdbcType="LONGVARCHAR" property="productData" />
    <result column="comment" jdbcType="LONGVARCHAR" property="comment" />
    <result column="seller_reason" jdbcType="LONGVARCHAR" property="sellerReason" />
    <result column="seller_comment" jdbcType="LONGVARCHAR" property="sellerComment" />
    <result column="store_name" jdbcType="VARCHAR" property="storeName" />
    <result column="items_id" jdbcType="BIGINT" property="itemsId" />
    <result column="member_image_path" jdbcType="VARCHAR" property="memberImagePath" />
    <result column="member_name" jdbcType="VARCHAR" property="memberName" />
    <result column="member_phone" jdbcType="VARCHAR" property="memberPhone" />
    <result column="appeal" jdbcType="INTEGER" property="appeal" />
  </resultMap>
  <resultMap id="AftersalesReturnProductMap" type="com.cnit.yoyo.reship.model.AftersalesReturnProduct">
  </resultMap>
  
  <resultMap id="ReshipItemsMap" type="com.cnit.yoyo.reship.model.ReshipItems" >
  </resultMap>
 
  <insert id="saveAftersalesReturnProduct"  parameterType="com.cnit.yoyo.reship.model.AftersalesReturnProduct" useGeneratedKeys="true" keyProperty="returnId">
      insert into t_aftersales_return_product
      (
      order_id,
      store_id,
      store_name,
      member_name,
      member_phone,
      amount,
      refund_address,
      member_image_path,
      content,
      status,
      nums,
      items_id,
      product_id,
      add_time
      )
      values(
      #{orderId},
      #{storeId},
      #{storeName},
      #{memberName},
      #{memberPhone},
      #{amount},
      #{refundAddress},
      #{memberImagePath},
      #{content},
      #{status},
      #{nums},
      #{itemsId},
      #{productId},
      #{addTime,jdbcType=TIMESTAMP}
      )
  </insert>
  
  <insert id="saveReshipItems"  parameterType="com.cnit.yoyo.reship.model.ReshipItems">
      insert into  t_reship_items
      (
      goods_type,
      order_item_id,
      product_bn,
      product_name,
      number,
      return_id
      )
      values
      (
      #{goodsType},
      #{orderItemId},
      #{productBn},
      #{productName},
      #{number},
      #{returnId}
      )
  </insert>
  
  <select id="getReshipList"  parameterType="java.util.Map" resultMap="ReshipDTOMap" >
		SELECT
			aftersales.return_id,
			aftersales.order_id,
			aftersales.return_bn,
			aftersales.title,
			aftersales.appeal_return_id,
			aftersales.content,
			aftersales.status,
			aftersales.close_time,
			aftersales.store_id,
			aftersales.refund_type,
			aftersales.is_intervene,
			aftersales.intervene_reason,
			aftersales.intervene_phone,
			aftersales.intervene_mail,
			aftersales.disabled,
			aftersales.amount,
			aftersales.create_time,
			aftersales.store_name,	
			aftersales.items_id,
			aftersales.add_time,
			aftersales.appeal,
			aftersales.nums as number,
			product.bn product_bn,
			product.name product_name,
			product.goods_id,
			product.product_id,	
			items.product_id
		FROM
			t_aftersales_return_product aftersales
		LEFT JOIN t_order_items items ON aftersales.items_id=items.item_id
		LEFT JOIN t_products product ON product.product_id=aftersales.product_id
		LEFT JOIN t_orders orders ON orders.order_id=aftersales.order_id
		LEFT JOIN t_painting_orders ON t_painting_orders.id = aftersales.order_id
		
        WHERE 
        (
        	orders.MEMBER_ID=#{memberId} 
        OR
        	t_painting_orders.member_id = #{memberId}
        ) 
        <if test="isSafeguard != null">
			AND is_safeguard=#{isSafeguard}
		</if>
        ORDER BY ADD_TIME DESC
  </select>
  
  
  
   <select id="getReshipDetailById"  parameterType="Map" resultMap="ReshipDTOMap" >
			SELECT
				  t_aftersales_return_product.`return_id`,
				  `order_id`,
				  `return_bn`,
				  `title`,
				  `appeal_return_id`,
				  `content`,
				  `status`,
				  `image_file3`,
				  `image_file`,
				  `image_file2`,
				  `intereven_image`,
				  `intereven_comment`,
				  `product_data`,
				  `comment`,
				  `add_time`,
				  `seller_amount`,
				  `amount`,
				  `shipping_amount`,
				  `close_time`,
				  `store_id`,
				  `refund_type`,
				  `is_intervene`,
				  `intervene_reason`,
				  `intervene_phone`,
				  `intervene_mail`,
				  `ship_cost`,
				  `amount_seller`,
				  `seller_reason`,
				  `seller_comment`,
				  `is_safeguard`,
				  `safeguard_type`,
				  `safeguard_require`,
				  `refund_address`,
				  `return_score`,
				  `image_upload`,
				  `is_return_money`,
				  `return_money_id`,
				  `disabled`,
				  `create_time`,
				  `member_image_path`,
				  `member_name`,
				  `member_phone`,
				  `store_name`,
				    `reship_id`,
				  `order_item_id`,
				  `goods_type`,
				  `product_bn`,
				  `product_name`,
				  `number`,
				  `product_id`
			FROM `t_reship_items`
			LEFT JOIN `t_aftersales_return_product`   ON  
                t_aftersales_return_product.return_id = t_reship_items.return_id
				  <where>
				       <if test="reshipId != '' and reshipId != null ">
				            t_reship_items.reship_id = #{reshipId}
				       </if>
				  </where>
  </select> 
  
  
  
</mapper>