<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cnit.yoyo.sales.activity.dao.ScoreBuyActivityMapper" >
  <resultMap id="BaseResultMap" type="com.cnit.yoyo.model.sales.activity.ScoreBuyActivity" >
    <id column="act_id" property="actId" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="end_time" property="endTime" jdbcType="TIMESTAMP" />
    <result column="apply_start_time" property="applyStartTime" jdbcType="TIMESTAMP" />
    <result column="start_time" property="startTime" jdbcType="TIMESTAMP" />
    <result column="apply_end_time" property="applyEndTime" jdbcType="TIMESTAMP" />
    <result column="business_type" property="businessType" jdbcType="VARCHAR" />
    <result column="act_open" property="actOpen" jdbcType="INTEGER" />
    <result column="act_status" property="actStatus" jdbcType="INTEGER" />
    <result column="last_modified" property="lastModified" jdbcType="TIMESTAMP" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="price_tag" property="priceTag" jdbcType="VARCHAR" />
    <result column="limit_num" property="limitNum" jdbcType="BIGINT" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.cnit.yoyo.model.sales.activity.ScoreBuyActivity" extends="BaseResultMap" >
    <result column="description" property="description" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    act_id, name, end_time, apply_start_time, start_time, apply_end_time, business_type, 
    act_open, act_status, last_modified,type,price_tag,limit_num
  </sql>
  <sql id="Blob_Column_List" >
    description
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_activity
    where act_id = #{actId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_activity
    where act_id = #{actId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cnit.yoyo.model.sales.activity.ScoreBuyActivity" >
    insert into t_activity (act_id, name, end_time, 
      apply_start_time, start_time, apply_end_time, 
      business_type, act_open, act_status, 
      last_modified, description,type,price_tag,limit_num)
    values (#{actId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{endTime,jdbcType=TIMESTAMP}, 
      #{applyStartTime,jdbcType=TIMESTAMP}, #{startTime,jdbcType=TIMESTAMP}, #{applyEndTime,jdbcType=TIMESTAMP}, 
      #{businessType,jdbcType=VARCHAR}, #{actOpen,jdbcType=INTEGER}, #{actStatus,jdbcType=INTEGER}, 
      #{lastModified,jdbcType=TIMESTAMP}, #{description,jdbcType=LONGVARCHAR}, #{type,jdbcType=INTEGER}
      , #{priceTag,jdbcType=VARCHAR}, #{limitNum,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.cnit.yoyo.model.sales.activity.ScoreBuyActivity" >
    insert into t_activity
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="actId != null" >
        act_id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="endTime != null" >
        end_time,
      </if>
      <if test="applyStartTime != null" >
        apply_start_time,
      </if>
      <if test="startTime != null" >
        start_time,
      </if>
      <if test="applyEndTime != null" >
        apply_end_time,
      </if>
      <if test="businessType != null" >
        business_type,
      </if>
      <if test="actOpen != null" >
        act_open,
      </if>
      <if test="actStatus != null" >
        act_status,
      </if>
      <if test="lastModified != null" >
        last_modified,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="type != null" >
      	type,
      </if>
      <if test="priceTag != null" >
      	price_tag,
      </if>
      <if test="limitNum != null" >
      	limit_num
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="actId != null" >
        #{actId,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="endTime != null" >
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="applyStartTime != null" >
        #{applyStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="startTime != null" >
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="applyEndTime != null" >
        #{applyEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="businessType != null" >
        #{businessType,jdbcType=VARCHAR},
      </if>
      <if test="actOpen != null" >
        #{actOpen,jdbcType=INTEGER},
      </if>
      <if test="actStatus != null" >
        #{actStatus,jdbcType=INTEGER},
      </if>
      <if test="lastModified != null" >
        #{lastModified,jdbcType=TIMESTAMP},
      </if>
      <if test="description != null" >
        #{description,jdbcType=LONGVARCHAR},
      </if>
      <if test="type != null" >
      	#{type,jdbcType=INTEGER},
      </if>
      <if test="priceTag != null" >
      	#{priceTag,jdbcType=VARCHAR}, 
      </if>
      <if test="limitNum != null" >
      	#{limitNum,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cnit.yoyo.model.sales.activity.ScoreBuyActivity" >
    update t_activity
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="endTime != null" >
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="applyStartTime != null" >
        apply_start_time = #{applyStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="startTime != null" >
        start_time = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="applyEndTime != null" >
        apply_end_time = #{applyEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="businessType != null" >
        business_type = #{businessType,jdbcType=VARCHAR},
      </if>
      <if test="actOpen != null" >
        act_open = #{actOpen,jdbcType=INTEGER},
      </if>
      <if test="actStatus != null" >
        act_status = #{actStatus,jdbcType=INTEGER},
      </if>
      <if test="lastModified != null" >
        last_modified = #{lastModified,jdbcType=TIMESTAMP},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=LONGVARCHAR},
      </if>
      <if test="type != null" >
      	type=#{type,jdbcType=INTEGER},
      </if>
      <if test="priceTag != null" >
      	price_tag=#{priceTag,jdbcType=VARCHAR}, 
      </if>
      <if test="limitNum != null" >
      	limit_num=#{limitNum,jdbcType=INTEGER},
      </if>
    </set>
    where act_id = #{actId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.cnit.yoyo.model.sales.activity.ScoreBuyActivity" >
    update t_activity
    set name = #{name,jdbcType=VARCHAR},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      apply_start_time = #{applyStartTime,jdbcType=TIMESTAMP},
      start_time = #{startTime,jdbcType=TIMESTAMP},
      apply_end_time = #{applyEndTime,jdbcType=TIMESTAMP},
      business_type = #{businessType,jdbcType=VARCHAR},
      act_open = #{actOpen,jdbcType=INTEGER},
      act_status = #{actStatus,jdbcType=INTEGER},
      last_modified = #{lastModified,jdbcType=TIMESTAMP},
      description = #{description,jdbcType=LONGVARCHAR},
	  type=#{type,jdbcType=INTEGER},
	  price_tag=#{priceTag,jdbcType=VARCHAR}, 
	  limit_num=#{limitNum,jdbcType=INTEGER}
    where act_id = #{actId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cnit.yoyo.model.sales.activity.ScoreBuyActivity" >
    update t_activity
    set name = #{name,jdbcType=VARCHAR},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      apply_start_time = #{applyStartTime,jdbcType=TIMESTAMP},
      start_time = #{startTime,jdbcType=TIMESTAMP},
      apply_end_time = #{applyEndTime,jdbcType=TIMESTAMP},
      business_type = #{businessType,jdbcType=VARCHAR},
      act_open = #{actOpen,jdbcType=INTEGER},
      act_status = #{actStatus,jdbcType=INTEGER},
      last_modified = #{lastModified,jdbcType=TIMESTAMP},
      type=#{type,jdbcType=INTEGER},
	  price_tag=#{priceTag,jdbcType=VARCHAR}, 
	  limit_num=#{limitNum,jdbcType=INTEGER}
    where act_id = #{actId,jdbcType=INTEGER}
  </update>
  
  <select id="selectScoreBuyActivity" resultMap="ResultMapWithBLOBs" parameterType="com.cnit.yoyo.model.sales.activity.dto.ScoreBuyActivityQryDTO" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_activity
    where 1=1
    <if test="applyStartTime !=null and applyStartTime != ''">
		<![CDATA[
		  and DATE_FORMAT(apply_start_time, '%Y-%m-%d %H:%i:%S') >=  DATE_FORMAT(#{applyStartTime}, '%Y-%m-%d %H:%i:%S')
		]]>
	</if>
	<if test="applyEndTime !=null and applyEndTime != ''">
		<![CDATA[
		  and DATE_FORMAT(apply_end_time, '%Y-%m-%d %H:%i:%S') <=  DATE_FORMAT(#{applyEndTime}, '%Y-%m-%d %H:%i:%S')
		]]>
	</if>
	<if test="startTime !=null and startTime != ''">
		<![CDATA[
		  and DATE_FORMAT(start_time, '%Y-%m-%d %H:%i:%S') >=  DATE_FORMAT(#{startTime}, '%Y-%m-%d %H:%i:%S')
		]]>
	</if>
	<if test="endTime !=null and endTime != ''">
		<![CDATA[
		  and DATE_FORMAT(end_time, '%Y-%m-%d %H:%i:%S') <=  DATE_FORMAT(#{endTime}, '%Y-%m-%d %H:%i:%S')
		]]>
	</if>
	<if test="actOpen !=null">
		<![CDATA[
		  and act_open = #{actOpen,jdbcType=INTEGER}
		]]>
	</if>
	<if test="type !=null">
		and type = #{type,jdbcType=INTEGER}
	</if>
	order by last_modified desc
  </select>
  
</mapper>